<root>
    <migrate>
        <enable>1</enable>
        <migrate_full>0</migrate_full>
        <active_days>1</active_days>
        <erase_after_migrate>1</erase_after_migrate>
    </migrate>
    <sync>
        <from_dir>/data1/ad_getui</from_dir>
        <target_dir>/data1/ad_getui_history</target_dir>
        <keep_days>3</keep_days>
        <check_count>0</check_count>
    </sync>
    <sentinel>
        <hosts>
            <host>192.168.xxx.1:16379</host>
            <host>192.168.xxx.2:16379</host>
            <host>192.168.xxx.3:16379</host>
        </hosts>
        <names>
            <name>6379</name>
            <name>6380</name>
            <name>6381</name>
        </names>
        <password>123456</password>
        <db>0</db>
    </sentinel>
    <log>
        <env>develop</env>
        <dir>logs</dir>
        <count>100</count>
        <name>result</name>
    </log>
    <phoenix>
        <enable>1</enable>
        <direct_to_full>0</direct_to_full>
        <url>http://never.fuck.com:8765</url>
        <add_table>USER_TAG.INDUSTRY_ADD</add_table>
        <full_table>USER_TAG.INDUSTRY_FULL</full_table>
        <batch_count>10000</batch_count>
        <hadoop>/www/hadoop/bin/hadoop</hadoop>
        <hdfs_path>/tmp/user_tag</hdfs_path>
        <phoenix_jar>/www/phoenix/phoenix-4.13.1-HBase-1.2-client.jar</phoenix_jar>
        <phoenix_zk>first.fuck.com,second.fuck.com,third-fuck.com</phoenix_zk>
    </phoenix>
    <column_2_tag_id>
        <infant>18</infant>
        <education>19</education>
        <wedding>20</wedding>
        <shopping>21</shopping>
        <luxury>22</luxury>
        <game>23</game>
        <estate>24</estate>
        <car>25</car>
        <decorate>26</decorate>
        <finance>27</finance>
        <travel>28</travel>
        <dress>29</dress>
        <delicious>30</delicious>
    </column_2_tag_id>
    <task_id_2_col_name>
        <_9293>gender</_9293>
        <_9294>age</_9294>
        <_9295>education</_9295>
        <_9297>infant</_9297>
        <_9299>wedding</_9299>
        <_9300>shopping</_9300>
        <_9301>luxury</_9301>
        <_9302>game</_9302>
        <_9303>estate</_9303>
        <_9304>car</_9304>
        <_9305>decorate</_9305>
        <_9306>finance</_9306>
        <_9308>travel</_9308>
        <_9309>dress</_9309>
        <_9310>delicious</_9310>
        <_10267>active_day</_10267>
    </task_id_2_col_name>
</root>
